/* Animação Scroll */

[data-anime] {
  opacity: 0;
  transition: .5s;
}

[data-anime='left'] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime='right'] {
  transform: translate3d(50px, 0, 0);
}
[data-anime='top']{
  transform: translateY(-50px);
}
[data-anime='bottom'] {
  transform: translateY(50px);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* Animação Scroll FIM */
/* Animação da seta  */
@keyframes seta {
0%{margin-top: 0;}
50%{margin-top: 20px;}
0%{margin-top: 0;}
}

html {
  scroll-behavior: smooth;
}