footer {
  height: 100px;
  background-color: var(--color--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
a{
  text-decoration: none;
  color: rgb(218, 214, 214);
  transition: all .3s ease;
  margin-left: 20px;
}

a:hover{
  color: white;
}
.footer-inf {
  display: flex;
  justify-content: center;
  align-items: center;


}
.copy{
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.411);
  padding-right: 20px;
}