:root {
  --color--blue: #215BFF;
  --color-black: #161616;
  --color--white: #FAFAFA;
}
header {
  
  background-color: var(--color--blue);
  height: 100px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px #8d8b8b5d;
  /* box-shadow: rgba(110, 110, 110, 0.2) 0px 60px 40px -7px; */
  /* box-shadow: rgba(7, 7, 7, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px */
  /* box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px; */

}



.logo {
  margin: auto 0px auto 0px;
}

.header-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 550px;
  font-size: 13px;
  z-index: 999;

}

.menu a {
  color: var(--color--white);
  font-family: arial;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 0px 10px 0px;
  cursor: pointer;

}

.menu a:hover,
.active {
  border-bottom: 3px dashed var(--color--white);
}


.social {
  margin: auto 0px auto 0px;
}

.social img {
  width: 200px;

}
#home .container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  flex-direction: column;
  
}


.home-title {
  padding-top: 60px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

}

.home-title h1 {
  font-size: 120px;
  padding-bottom: 15px;
  color: var(--color-black);
  font-family: Righteous;
}

.home-title h6 {
  font-size: 25px;
  font-family: Righteous;
  color: var(--color--blue);
  padding: 5px 0 5px 0;
  letter-spacing: 2.3px;
  line-height: 20px;
}
/* .home-title h6::after{
  content: "";
  display: block;
  background-image: url(/assets/image/home/seta.svg);
  background-position: center;
  background-size: cover;
  width: 112px;
  height: 112px;
} */
.seta{
  padding-top: 100px;
}
.seta img{
  width: 90px;
  height: 90px;
}